body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("fundotata.jpg");
    background-position: 45%;
    background-size: cover;
    filter: blur(3px);
}

.main {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.title h1, h2, h3{
    text-align: center;
    margin-top: 7%;
    color: rgb(255, 255, 255);
}

.title h1{
    font-size: 4rem;
    font-weight: 600;
}

.title h2{
    font-size: 1.4rem;
}

.title h3{
    font-size: 2rem;
}

footer{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}